.modal{
 position: fixed;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 background-color:rgba(0,0,0,0.5);
 display: flex;
 align-items: center;
 justify-content: center;
}

.modal-content{
  width: 350px;
  background-color: aliceblue;
}

.modal-header, .modal-footer{
  padding: 10px;
}

.modal-title{
  margin: 0;
}

.modal-content-body{
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.show-button{
    margin-top: 30px;
    margin-left: 30px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 2px 18px #888888
}

.show-button:hover {
  background-color: rgb(207, 198, 198);
  color: black;
}